.cardBG {
  background:
    radial-gradient(600px circle at 20px 30px, #ea9e2344, transparent 40%),
    radial-gradient(600px circle at 1800px 400px, #ea9e2344, transparent 40%),
    radial-gradient(600px circle at 580px 500px, #ea9e2344, transparent 40%);
}

.scrolled {
  background-color: red;
}