.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 3px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: #ea9e23;
  box-shadow: 0 0 15px #ea9e2333;
}

.shadow__btn:hover {
  box-shadow: 0 0 5px #ea9e2333,
              0 0 25px #ea9e2333,
              0 0 50px #ea9e2333,
              0 0 100px #ea9e2333;
}

.shadow__btn_secondary{
  background: transparent;
  color: #ea9e23;
  border: 2px solid #ea9e23;
  border-radius: 3px;
  font-weight: 700;
}