.video-container {
  width: 100%;
  max-width: 900px;
  height: 450px;
}

.video-container video {
  position: relative;
  object-fit:cover;  /* This is the mainly problematic line*/
  overflow:hidden;
  width:100%;
  height:100%;
}
