.nav-button {
  color: #fefefe;
  text-decoration: none;
  font-size: 16px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.nav-button:hover {
  color: #f7f7f7;
  transition: 0.2s;
}

.nav-button::before {
  margin-left: auto;
}

.nav-button::after, .nav-button::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #ea9e23;
  display: block;
  transition: 0.2s;
}

.nav-button:hover::after, .nav-button:hover::before {
  width: 100%;
}

.scrolled{
  backdrop-filter: blur(30px) brightness(0.4);
  box-shadow: 1px 1px 1px -6px rgba(255,170,6,0.5);
-webkit-box-shadow: 1px 2px 21px -10px rgba(234,159,36, 10);
-moz-box-shadow: 1px 4px 21px -16px rgba(234,159,36, 10);
transition: all .4s;
}

.noscrolled {
  background-color: inherit;
  transition: all .4s;
}
/* header {
  box-shadow: 1px 1px 1px -6px rgba(255,170,6,0.5);
-webkit-box-shadow: 1px 2px 21px -5px rgba(234,159,36, 10);
-moz-box-shadow: 1px 4px 21px -16px rgba(234,159,36, 10);
} */

/* header.css */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.slide-in {
  animation: slideIn 0.3s forwards;
}

.slide-out {
  animation: slideOut 0.3s forwards;
}
